// Cores
$bg-color: #ffffff;
$bg-carousel: #a9c5ba;
$color-text-carousel: #ffffff;
$form-text-color: #000000;
$form-text-opacit-color: #707070;
$form-button-color: #ffffff;
$form-link-color: #a9c5ba;

// Texto
$font: muli, sans-serif;

$subtitle-size: 30px;
$subtitle-weight: 300;
$subtitle-line-height: 38px;

$description-size: 20px;
$description-weight: 300;
$description-line-height: 25px;

$dots-semi-opacit: 0.5;
$dots-opacit: 1;

$invision-size: 35px;
$invision-weight: 900;
$invision-line-height: 48px;

$caption-size: 14px;
$caption-weight: 300;
$caption-line-height: 18px;
$caption-align: right;

$caption-link-size: 16px;
$caption-link-weight: 300;
$caption-link-line-height: 20px;
$caption-link-text-decoration: underline;

$submit-size: 16px;
$submit-weight: 700;
$submit-line-height: 20px;
$submit-text-transform: initial;
$submit-align: center;

$google-button-size: 18px;
$google-button-weight: 700;
$google-button-line-height: 22px;
$google-button-text-transform: initial;
$google-button-align: center;
$google-icon-size: 30px;

// Orientação
$grid-display: flex;
$grid-align-items: stretch;
$grid-justify-content: center;
$grid-flex-direction: column;

// Animações
$dots-transition: ease-in-out 0.2s;